/* ==|== primary styles =======================================================
   Author: Northern Army
   ========================================================================= */

/* Foundation
---------------------------------------------------------------------------- */
html,
button,
input,
select,
textarea {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}
html {
	background: hsla(0,0%,0%,1);
	color: hsla(0,0%,100%,1);
}
body {
	padding: 8rem;
	font-size: 2rem;
}
::-moz-selection {
	background: hsla(359,84%,54%,1);
	color: hsla(0,0%,100%,1);
}
::selection {
	background: hsla(359,84%,54%,1);
	color: hsla(0,0%,100%,1);
}

/* Transitions
---------------------------------------------------------------------------- */
a,
img,
button,
input,
textarea {
	transition: all 0.2s ease-in-out;
}

td.grid_cell {
	transition: background 0.2s ease-in-out;
}

/*
	backface-visibility: hidden;
*/

/* Links and Buttons
---------------------------------------------------------------------------- */
/*
a {
	color: #ff5a52;
}
a:visited {
	color: #ff5a52;
}
a:hover {
	color: #b0b0b0;
}
a:active {
	color: #959595;
}
*/

/*
#test {
	color: hsla(0,0%,0%,1);
	vertical-align: top;
	font-size: 8rem;
	transition: all 0.2s ease-in;
	width: calc(100% - 10rem);
	border-radius: 2rem;
	box-sizing: border-box;
}
*/

/* Header
---------------------------------------------------------------------------- */
header[data-site="header"] {
	display: none;
}

/* Footer
---------------------------------------------------------------------------- */
footer[data-site="footer"] {
	display: none;
}


/* ==|== internal styles ======================================================
   ========================================================================= */

/* Introduction
---------------------------------------------------------------------------- */
section.section_intro {
	position: relative;
}


/* Stats Cell Data
---------------------------------------------------------------------------- */
aside.sidebar_stats {
	position: absolute;
	width: 20rem;
	height: 100%;
	border: 0.1rem solid hsla(0,0%,100%,1);
}
aside.sidebar_stats h1 {
	padding: 1.6rem;
	font-size: 1.3rem;
	font-weight: 700;
	border-bottom: 0.1rem solid hsla(0,0%,100%,1);
}


aside.sidebar_stats ul {
	padding: 1.6rem;
}


/* Trillion Grid
---------------------------------------------------------------------------- */
table.grid_table {
/*
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
*/
	margin-left: 23.2rem;
}
td.grid_cell {
	cursor: pointer;
	width: 6rem;
	height: 6rem;
	text-align: center;
	background: hsla(299,98%,56%,0);
	border: 0.1rem solid hsla(0,0%,100%,1);
}
td.grid_cell:hover {
	background: hsla(299,98%,56%,0.6);
}
td.grid_cell:active {
	background: hsla(299,98%,56%,0.4);
}

td.grid_cell-current {
	background-image: repeating-linear-gradient(45deg, hsla(299,98%,56%,0.6), hsla(299,98%,56%,0.0) 1px, hsla(299,98%,56%,0.6) 1px, hsla(299,98%,56%,0.0) 2px);
}

.cell_special {
	color: hsla(59,100%,59%,1);
}
