/* ==|== primary styles =======================================================
   Author: Northern Army
   ========================================================================= */

/* SASS Variables / Mixins
---------------------------------------------------------------------------- */

/* --- Colours --- */

/*
@mixin colour-pink($alpha) {
	hsla(299,98%,56%,$alpha);
}

.box {
	color: @include colour-pink(1);
}
*/

/*

$pink = hsla(299,98%,56%,1);
$yellow = hsla(59,100%,59%,1);

*/


/* Foundation
---------------------------------------------------------------------------- */
html,
button,
input,
select,
textarea {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}
html {
	background: hsla(0,0%,0%,1);
	color: hsla(0,0%,100%,1);
}
body {
	padding: 6rem;
	font-size: 2rem;
}
::-moz-selection {
	background: hsla(359,84%,54%,1);
	color: hsla(0,0%,100%,1);
}
::selection {
	background: hsla(359,84%,54%,1);
	color: hsla(0,0%,100%,1);
}

/* Transitions
---------------------------------------------------------------------------- */
a,
img,
button,
input,
textarea {
	transition: all 0.2s ease-in-out;
}

td.grid_cell {
	transition: background 0.2s ease-in-out;
}

/*
	backface-visibility: hidden;
*/

/* Links and Buttons
---------------------------------------------------------------------------- */
/*
a {
	color: #ff5a52;
}
a:visited {
	color: #ff5a52;
}
a:hover {
	color: #b0b0b0;
}
a:active {
	color: #959595;
}
*/

/*
#test {
	color: hsla(0,0%,0%,1);
	vertical-align: top;
	font-size: 8rem;
	transition: all 0.2s ease-in;
	width: calc(100% - 10rem);
	border-radius: 2rem;
	box-sizing: border-box;
}
*/

/* Header
---------------------------------------------------------------------------- */
header[data-site="header"] {
	margin-bottom: 3.2rem;
}

h1.player_name {
	float: left;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
h1.player_name span {
	color: hsla(299,98%,56%,1);
}

h2.player_credits {
	float: right;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: hsla(59,100%,59%,1);
}

/* Footer
---------------------------------------------------------------------------- */
footer[data-site="footer"] {
	display: none;
}


/* ==|== internal styles ======================================================
   ========================================================================= */

/* Introduction
---------------------------------------------------------------------------- */
section.section_intro {
	position: relative;
}

/* Stats Cell Data
---------------------------------------------------------------------------- */
aside.sidebar_stats {
	position: absolute;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	border: 0.1rem solid hsla(0,0%,100%,1);
}
aside.sidebar_stats h1 {
	padding: 1.6rem;
	font-size: 1.3rem;
	font-weight: 700;
	border-bottom: 0.1rem solid hsla(0,0%,100%,1);
}
/* --- Stats Lists --- */
aside.sidebar_stats ul {
	padding: 1.6rem;
}
aside.sidebar_stats ul li {
	margin-bottom: 1.2rem;
	font-size: 1.3rem;
	line-height: 1.2;
}
li.stats_type {
	font-weight: 700;
	text-transform: uppercase;
}

/* Navigation: Travel
---------------------------------------------------------------------------- */
nav.player_travel {
	position: absolute;
	top: 0;
	left: 86.4rem;

	width: 10rem;
	height: 10rem;
	border: 0.1rem solid hsla(0,0%,100%,1);
}
nav.player_travel ul {
}
nav.player_travel ul li {
	position: absolute;
}
nav.player_travel ul li a {
	display: block;
	width: 0;
	height: 0;
}
/* --- Directions --- */
nav.player_travel ul li.travel_up,
nav.player_travel ul li.travel_down {
	left: 50%;
	transform: translateX(-50%);
}
nav.player_travel ul li.travel_up {
	top: 2rem;
}
nav.player_travel ul li.travel_down {
	top: 6.9rem;
}

nav.player_travel ul li.travel_left,
nav.player_travel ul li.travel_right {
	top: 50%;
	transform: translateY(-50%);
}
nav.player_travel ul li.travel_left {
	left: 2rem;
}
nav.player_travel ul li.travel_right {
	left: 6.8rem;
}




nav.player_travel ul li.travel_up a {
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 1rem solid hsla(0,0%,100%,1);
}
nav.player_travel ul li.travel_up a:hover {
	border-bottom-color: hsla(299,98%,56%,1);
}

nav.player_travel ul li.travel_down a {
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 1rem solid hsla(0,0%,100%,1);
}
nav.player_travel ul li.travel_down a:hover {
	border-top-color: hsla(299,98%,56%,1);
}

nav.player_travel ul li.travel_left a {
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-right: 1rem solid hsla(0,0%,100%,1);
}
nav.player_travel ul li.travel_left a:hover {
	border-right-color: hsla(299,98%,56%,1);
}

nav.player_travel ul li.travel_right a {
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: 1rem solid hsla(0,0%,100%,1);
}
nav.player_travel ul li.travel_right a:hover {
	border-left-color: hsla(299,98%,56%,1);
}

nav.player_travel ul li.travel_up a:active {
	opacity: 0.8;
}


/* Map Grid
---------------------------------------------------------------------------- */
table.map_grid {
/*
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
*/
	margin-left: 23.2rem;
}
td.grid_cell {
	cursor: pointer;
	width: 6rem;
	height: 6rem;
	text-align: center;
	background: hsla(299,98%,56%,0);
	border: 0.1rem solid hsla(0,0%,100%,1);
}
td.grid_cell:hover {
	background: hsla(299,98%,56%,0.5);
}
td.grid_cell:active {
	background: hsla(299,98%,56%,0.4);
}
td.grid_cell-current {
	background-image: repeating-linear-gradient(-45deg, hsla(299,98%,56%,0), hsla(299,98%,56%,0) 6px, hsla(299,98%,56%,1) 6px, hsla(299,98%,56%,1) 7px);
}
td.cell_special {
	color: hsla(59,100%,59%,1);
}
