/* ==|== primary styles =======================================================
   Author: Northern Army
   ========================================================================= */

/* Foundation
---------------------------------------------------------------------------- */
html,
button,
input,
select,
textarea {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}
html {
	background: hsla(0,0%,0%,1);
	color: hsla(0,0%,100%,1);
}
body {
	padding: 8rem;
	font-size: 2rem;
}
::-moz-selection {
	background: hsla(359,84%,54%,1);
	color: hsla(0,0%,100%,1);
}
::selection {
	background: hsla(359,84%,54%,1);
	color: hsla(0,0%,100%,1);
}

/* Transitions
---------------------------------------------------------------------------- */
a,
img,
button,
input,
textarea {
	-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

/*
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
			backface-visibility: hidden;
*/

/* Links and Buttons
---------------------------------------------------------------------------- */
/*
a {
	color: #ff5a52;
}
a:visited {
	color: #ff5a52;
}
a:hover {
	color: #b0b0b0;
}
a:active {
	color: #959595;
}
*/

/*
#test {
	color: hsla(0,0%,0%,1);
	vertical-align: top;
	font-size: 8rem;
	transition: all 0.2s ease-in;
	width: calc(100% - 10rem);
	border-radius: 2rem;
	box-sizing: border-box;
}
*/

/* Header
---------------------------------------------------------------------------- */
header[data-site="header"] {
	display: none;
}

/* Footer
---------------------------------------------------------------------------- */
footer[data-site="footer"] {
	display: none;
}


/* ==|== internal styles ======================================================
   ========================================================================= */

/* Page
---------------------------------------------------------------------------- */
.kuputnick {
	display: none;
}
